.main-app-block {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
    background: white;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.displayed-user-profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.1);
}

.blurred {
    filter: blur(1px);
    pointer-events: none;
}

.app-centered {
    display: flex;
    align-content: center;
    height: 90vh;
    width: 35vw;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1100px) {
    .app-centered {
        display: flex;
        align-content: center;
        height: 90vh;
        width: 95vw;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

.chats-bar {
    width: 30%;
    background: #f5f5f5;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

@media only screen and (max-width: 1100px) {
    .chats-bar {
        width: 100%;
    }

    .no-chat-selected {
        display: none !important;
    }

    .chat-is-selected {
        display: none;
    }

    .chat-area {
        width: 100%;
    }
}

.chats-bar.centered {
    width: 100%;
    text-align: center;
    height: fit-content;
}

.current-user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 10px;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    flex: 1;
}

.user-info h4 {
    margin: 0;
}

.user-info p {
    margin: 5px 0 0;
    font-size: 12px;
    color: #666;
}

.settings-button {
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.settings-button img{
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.settings-button:hover {
    background: #bbb;
}

.point-size {
    width: 10px;
    height: 10px;
}

.status {
    display: flex;
    flex-direction: row;
}

.user-status {
    margin: 0 0 0 5px;
}

.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.chat-item:hover {
    background: #e0e0e0;
}

.pinned-user-bar {
    top: 0;
    position: sticky;
}

.chat-item.selected {
    background: #0072ff;
    color: white;
}

.chat-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.chat-info h4 {
    margin: 0;
    padding: 0;
}

.chat-info .chat-status {
    font-size: 12px;
    color: #666;
}

.chat-info .chat-last-message {
    font-size: 14px;
    color: #333;
}

.chat-time {
    font-size: 12px;
    color: #999;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.chat-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 15px;
    margin-bottom: 10px;
    height: 6%;
}

.no-users-found {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    font-size: 15px;
}

.chat-header-photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 15px;
}

.black-border {
    /*border: 2px solid #000000;*/
}

.clear-btn {
    font-size: 17px;
}

.chat-header-photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-header h2 {
    margin: 0;
}

.chat-header p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #666;
}

.back-button {
    padding: 7px 7px 7px 7px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button-image {
    width: 30px;
    height: 30px;
}

.back-button:hover {
    background: #bbb;
}

.send-messages-section {
    display: flex;
    flex-direction: column;
    height: 6%;
}

.display-preview-files {
    height: 15%;
}

.top-margin {
    padding-top: 10px;
    border-top: 1px solid #a8a8a8;
}

.messages {
    flex: 1;
    height: 80%;
    margin-bottom: 20px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messages p {
    margin: 5px 0;
}

.margin-block {
    height: 15px;
    border-top: 1px solid #a8a8a8;
}

.message-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 7%;
    width: 100%;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.message-input textarea {
    font-size: 13px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    background-color: white;
    color: #333;
    overflow: hidden;
}

.message-input textarea:focus {
    border-color: #22303a;
    outline: none;
}

.message-input button {
    padding: 10px 20px;
    background: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-input button:hover {
    background: #005bb5;
}

.no-chat-selected {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #838383;
    font-weight: bold;
    font-size: 16px;
}

.send-file-button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.send-file-button:hover {
    color: #0072ff;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.message.sent {
    justify-content: flex-end;
}

.message.received {
    justify-content: flex-start;
}

.message-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    max-width: 70%;
    background: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    word-wrap: break-word;
}

.message.sent .message-content {
    background: #0072ff;
    color: white;
    border-top-right-radius: 0;
}

.message.received .message-content {
    border-top-left-radius: 0;
}

.message-content h5 {
    margin: 0;
    font-size: 14px;
    color: #0072ff;
}

.message-content p {
    margin: 5px 0;
    font-size: 14px;
}

.message-time {
    font-size: 12px;
    color: #999;
    text-align: right;
    margin-top: 5px;
    display: block;
}

.message-time.sent-time {
    color: #cdcdcd;
}

.username-header {
    display: flex;
    justify-content: center;
}

.pinned-user-bar {
    top: 0;
    position: sticky;
    z-index: 1000;
    background-color: #f5f5f5;
}

.delete-menu-container {
    position: fixed;
    transform: translate(0, 0);
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    list-style: none;
    padding: 3px;
    border-radius: 10px;
    z-index: 1000;
    margin: 0;
}

.delete-menu {
    padding: 3px 5px;
}

.delete-menu button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: red;
    display: flex;
}

.delete-menu button h5 {
    margin: 0;
    font-size: 14px;
    color: red;
}

.delete-menu button:hover {
    background: #e0e0e0;
}

.preview {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 10%;
}

.preview-files-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.preview-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: box-shadow 0.2s ease;
}

.preview-item:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.preview-thumbnail {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.preview-icon {
    font-size: 12px;
    color: #666;
}

.preview-name {
    font-size: 12px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

.file-input {
    display: none;
}

.file-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 5px 7px;
    background-color: #c3c3c3;
    color: black;
    font-size: 8px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.file-label:hover {
    background-color: #0056b3;
    color: white;
}

.file-icon {
    font-size: 10px;
}

.file-icon img {
    font-size: 10px;
    width: 30px;
    height: 30px;
}

.scrollable {
    padding: 10px;
    font-size: 14px;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #5eaeff;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #5eaeff;
}

.scrollable::-webkit-scrollbar-track {
    background-color: #5eaeff;
    border-radius: 10px;
}

.found-users {
    display: flex;
    flex-direction: column;
    height: 15vh;
    overflow-y: auto;
}

.scrollable {
    scrollbar-width: thin;
    scrollbar-color: #5eaeff #f1f1f1;
}

.clear-input-btn button {
    background-color: #9c9c9c;
}

.clear-input-btn button:hover {
    background-color: #8f8f8f;
}

.found-users-input-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.found-users-input-block button {
    margin-left: 10px;
}

.message-input-block {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-input-block input{
    width: 95%;
}

.search-users {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #a8a8a8;
}

.green-point {
    width: 100%;
    height: 100%;
    background-color: #00a600;
    border-radius: 50%;
    display: inline-block;
}

.chat-info-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.chat-info-header h4 {
    margin: 0;
}

.chat-info-header p {
    margin: 0 0 0 5px;
}

.chat-info-header-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-info-header img {
    height: 20px;
    width: 25px;
    margin-left: 2px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn {
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn.add {
    background-color: #8c8c8c;
}

.btn.remove {
    background-color: #f44336;
}

.btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-right-part {
    width: fit-content;
    max-width: 25%;
}

.last-chat-message {
    width: 100%;
}

.message-right-part-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ellipsis-block {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    box-sizing: border-box;
    right: 0;
    text-align: right;
}

.ellipsis-block {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    box-sizing: border-box;
    /*right: 0;*/
}

.ellipsis-block p {
    margin: 0;
    right: 0;
}

.msg-time-block{
    display: flex;
    justify-content: right;
}

.next-day-message-border {
    position: relative;
    margin-bottom: 14px;
    height: 0.2px;
    background-color: #cdcdcd;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-message-border {
    position: relative;
    /*margin-top: 10px;*/
    margin-bottom: 14px;
    height: 0.8px;
    background-color: #6767ff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-day-message-border-msg {
    position: absolute;
    background-color: #fff;
    padding: 0 10px;
    color: #cdcdcd;
    font-size: 14px;
}

.new-message-border-msg {
    position: absolute;
    background-color: #fff;
    padding: 0 10px;
    color: #6767ff;
    font-size: 14px;
}

.next-day-message-text {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-day-message-border-text {
    position: absolute;
    background-color: #fff;
    padding: 0 10px;
    color: #cdcdcd;
    font-size: 14px;
}

.display-search-users-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    padding: 20px;
    font-size: 16px;
}

.point-1-block {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50px;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.point-size-1 {
    width: 17px;
    height: 17px;
}

.blue-point {
    width: 100%;
    height: 100%;
    background-color: #0052ea;
    border-radius: 50%;
    display: inline-block;
}
